body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentPage {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.iconFooterImage{
    width: 20px;
    height: 20px;
    object-fit:contain;
}
.header {
    background-color: #0077B6;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100vw;
    padding-right: 170px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header p {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0;
    background-color: white;
    border-left: 2px solid #0077B6;
    border-right: 2px solid #0077B6;
}

.small-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    padding: 5px;
    width: 80%;
}

.left-column,
.right-column {
    background-color: white;
    padding: 0px;
    padding-left: 20px;
    width: 90%;
    padding-bottom: 30px;
}

.left-column {
    border-right: 5px solid #0077B6;
}

a{
    color: white;
}
h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0077B6
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
}

p,
ul {
    color: #333;
    margin: 5px 0;
}

ul {
    padding-left: 20px;
}

.job-info {
    margin-bottom: 15px;
}

.job-info p {
    margin: 2px 0;
}

.footer {
    text-align:center;
    padding: 10px 0;
    width: 100vw;
    background-color: #0077B6;
    padding-right: 170px;
}
.footer p{
    color: white;
}
.center-footer{
    width: 250px;
    margin: 0 auto;
}
.left-footer{
    text-align: left;
}